*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');



main{
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass{
    max-height:80vh;
    width: 60%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    z-index:3;
    backdrop-filter: blur(2rem);
    display: flex;
}
.circle1{
    height: 15rem;
    width: 15rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    position: absolute;
    top:5%;   
    left:5%;
    border-radius: 50%;
    z-index:1;
}

.circle2{
    height: 10rem;
    width: 10rem;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    position: absolute;
    top:40%;   
    right:8%;
    border-radius: 50%;
    z-index:1;
}

.dashboard .title{
    background: linear-gradient(to right bottom, rgb(200, 233, 247), rgb(170, 231, 250));
    border-radius: 1rem;
    padding: 4px 15px;
    margin: 20px 15px;
    font-size:25px;
    color: #1d7481;
    box-shadow: 0.1px 0.1px 200px;
    font-family: 'Roboto Slab';

}

.dashboard{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    color: #0d4a53;
    font-size: 18px;
}


img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border:white 3px solid;
    margin: 10px;
}

.ContactView{
    flex:2;
}

.heading{
    font-size: 2rem;;
    font-weight: 600;
    margin: 15px 0px 5px 15px;
    color: #1d7481;
    text-align: center;
}

input{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
    width:350px;
    border:none;
    border-radius: 2rem;
}

.cards{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;   
    overflow: auto;
    max-height: 55vh;
    padding: 5px 40px;
    margin:0px 0px 10px 0px;
}

.cards::-webkit-scrollbar {
  display: none;
}

.card-info-title{
    background: linear-gradient(to right bottom, rgb(87, 214, 231), rgb(154, 227, 240));
    border-radius: 0.6rem;
    margin-top: 10px;
    padding:0px 10px 0px 10px;
    color: #217a88;
    width:100%;
    box-shadow: 0.2px 0.2px 20px;
    font-size: 40px;
    text-align: center;
    position:sticky;
    top:0%;
}


.card-info{
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
    border-radius: 0.6rem;
    margin-top: 10px;
    padding:0px 10px 0px 10px;
    color: #278492;
    width:90%;
    box-shadow: 0.2px 0.2px 20px;
    display: flex;
    justify-content:first baseline;   
    align-items: center;
}

.card-info img{
    width:50px;
    height: 50px;
    margin-right: 30px;
}
 
.card-info p{
    padding: 24px;
    font-weight: bolder;
    font-size: 1.5rem;
}

.card-info h1{
    font-size: 30px;
}
