@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800;900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.background {
    display: inline-block;
    background: linear-gradient(45deg, white 50%, rgb(4, 56, 4) 50%);
    width: 100vw;
    height: 200vh;
    position: fixed;
    top:0;
    left:0;
}



.smallBackground{
    background: rgb(237, 250, 243);
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    width: 85%;
    height: 300%;
    padding: 20px 20px 20px 20px;
    position: absolute;
    top:90px;
    left:100px;
    box-shadow: 0.5px 0.5px 40px;
    
}

.logo{
    width: 7rem;
    height: 7rem;
    margin-left: 40px;
    margin-top: 20px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
}

ul{
    text-decoration: none;
    list-style: none;
    margin-right: 80px;
    font-size: 23px;
    color:rgb(4, 56, 4);
    font-weight: 900;
}

li{
    display: inline-block;
    margin-right: 20px;
}

main{
    margin-top:7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

article {
    margin-left:50px;
    font-size: 34px;
}

span {
    font-size: 50px;
    color: rgb(4, 56, 4);
    font-weight: 900;
}

main article p{
    font-size: 1.25rem;
    font-weight: 300;
}

main article a{
    background: darkgreen;
    color: white;
    font-size: 1.25rem;
    font-weight: 300;
    border-radius: 15px;
    text-decoration: none;
    padding: 1px 9px 1px 9px;
}

.green-white-circle{
    width:25rem;
    height:25rem;
    border-top: darkgreen solid 70px;
    border-bottom: rgb(4, 56, 4) solid 70px;
    border-left: rgb(4, 56, 4) solid 70px;
    border-right: darkgreen solid 70px;
    border-radius: 50%;
    position: absolute;
    top: 220px;
    right:70px;
    animation: spin 4s linear 0s infinite alternate;
}

@keyframes spin{
    100%{
        transform:rotateZ(360deg);
    }
}

.image-slider{
    animation-name: backgroundChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction:alternate-reverse;
    animation-timing-function: ease-in-out;
    position: absolute;
    width:320px;
    height:520px;
    top:140px;
    right:120px;
    z-index:1;
}

@keyframes backgroundChange{
    0%{
        background-image: url('./images/img1.png');
        background-repeat: no-repeat;
        background-size: 100%;
        transform: rotate(-30deg);
        margin-top: 30px;
        
       
    }
    50%{
        background-image: url('./images/img1.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 30px;
       
    }
    100%{
        background-image: url('./images/img1.png');
        background-size: 100%;
        background-repeat: no-repeat;
        transform: rotate(35deg);
        margin-top: 30px;
       

    }
}


/* -----------------------------About Us---------------------- */

.AboutUs{
    margin-top: 180px;
    position: relative;
}

/* .aboutUsBackground{
    background:rgb(203, 241, 203);
    position:absolute;
    top:0px;
    left:0px;
    width:100wh;
    height:100vh;
} */

.green-white-circle2{
    width:25rem;
    height:25rem;
    border-top: darkgreen solid 70px;
    border-bottom: rgb(4, 56, 4) solid 70px;
    border-left: rgb(4, 56, 4) solid 70px;
    border-right: darkgreen solid 70px;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 40px;
    animation: spin 4s linear 0s infinite alternate;
}

.re-image-slider{
    animation-name: rebackgroundChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-direction:alternate-reverse;
    animation-timing-function: ease-in-out;
    position: absolute;
    width:320px;
    height:520px;
    top:0px;
    left:80px;
    z-index:1;
}

@keyframes rebackgroundChange{
    0%{
        background-image: url('./images/img3.png');
        background-repeat: no-repeat;
        background-size: 100%;
        transform: rotate(-30deg);
        margin-top: 30px;
        /* transform:scale(1.1); */
        
       
    }
    50%{
        background-image: url('./images/img3.png');
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 30px;
        /* transform:scale(1.1); */
       
    }
    100%{
        background-image: url('./images/img3.png');
        background-size: 100%;
        background-repeat: no-repeat;
        transform: rotate(35deg);
        margin-top: 30px;
        /* transform:scale(1.1); */

    }
}

.text{
    position:absolute;
    top:70px;
    right:40px;
    width:600px;
    height: 450px;
    text-align: center;
}

.text h1{
    font-size: 34px;
    font-family: poppins;
    line-height:1.3;
}

.text span {
    font-size: 50px;
    color: rgb(4, 56, 4);
    font-weight: 900;
}

.text p{
    margin-top: 15px;
    font-size: 1.25rem;
    font-weight: 300;
}

.text a{
    background: darkgreen;
    color: white;
    font-size: 1.25rem;
    font-weight: 300;
    border-radius: 15px;
    text-decoration: none;
    padding: 1px 9px 1px 9px;
}

/* ----------------------whats new ----------------- */

.WhatsNew{
    margin-top: 180px;
    position: relative;
}

.image-carousel{
    position: absolute;
    top:600px;
    left:0px;
    /* background-image: url(./images/1.png);
    background-size: 100% 100%; */
    border:3px red solid;
    width:100%;
    height:100vh;
    animation: carousel-slide 20s infinite linear;
}

@keyframes carousel-slide{

    20%{
        background-image: url(./images/2.png); 
        background-size: 100% ;
        background-repeat: no-repeat;
    }
    50%{
        background-image: url(./images/3.jpg); 
        background-size: 100% ;
        background-repeat: no-repeat;
    }
    75%{
        background-image: url(./images/4.jpg); 
        background-size: 100% ;
        background-repeat: no-repeat;
    }100%{
        background-image: url(./images/5.jpg); 
        background-size: 100% ;
        background-repeat: no-repeat;
    }
}
